<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit Notice</title>
</head>
<body>
    <div class="d-flex flex-column  align-items-center justify-content-center container ">
        <div class="container d-flex flex-column  bg-secondary p-3 rounded " style=" margin-top: 30px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.705); max-width: 400px;">
            <h2 class="text-center">Edit Notice</h2>
            <form class="d-flex flex-column " action="/admin/editnotice/<%= body._id %> "method="POST">
                <img style="max-height: 200px;" src="<%= body.image_url %> " alt="Notice Image">
                <input class="mt-2 mb-2" required type="text" name="title" placeholder="Title"  value="<%= body.title %> ">
                <input class="mt-2 mb-2" required type="text" name="description" placeholder="Description" value="<%= body.description %> ">
                <textarea name="content" required cols="30" rows="10" placeholder="Main Content"><%= body.content %></textarea>
                <button class="mt-3 btn btn-primary ">Edit</button>
            </form>
        </div>
    </div>
    <h3 class="text-center mt-3 mb-3">Developed by <a class="text-secondary " style="text-decoration:none;" href="https://github.com/AugustoBernardes" >Augusto</a></h3>
</body>
</html>